In [251]:
import pandas

Part 1

In [254]:
data = pandas.read_csv('AoC1.txt', header = None)
trebuchet_list = data[0].tolist()

In [255]:
num_sum = 0

In [256]:
for trebuchet in trebuchet_list:
    num = 0
    num_list = list(filter(str.isdigit, trebuchet))
    num = int(num_list[0]) * 10 + int(num_list[-1])
    num_sum += num

In [257]:
num_sum

56465

Part 2

In [258]:
test_list = ['two1nine', 'eight2three', 'abcone2threexyz', 'xtwone3four', '4nineeightseven2', 'zoneight234',
             '7pqrstsixteen']

In [259]:
num2word = {'1': 'one', '2': 'two', '3': 'three',
             '4':'four', '5':'five', '6': 'six',
             '7':'seven', '8': 'eight', '9':'nine'}

In [260]:
def find_word_digit(string):
    word_digit_list = []
    for num in num2word:
        word_ind = string.find(num2word[num])
        word_digit_list.append(word_ind) 
    return word_digit_list

In [261]:
num_sum = 0
for trebuchet in trebuchet_list:
    num = 0
    num_list = list(filter(str.isdigit, trebuchet))
    left = trebuchet[:trebuchet.find(num_list[0])]
    right = trebuchet[trebuchet.rfind(num_list[-1]):]
    left_word_list = find_word_digit(left)
    right_word_list = find_word_digit(right)
    try:
        min_ind = left_word_list.index(min(filter(lambda x : x > -1, left_word_list)))
        num_list.insert(0, str(min_ind+1))
    except ValueError:
        pass
    try:
        max_ind = right_word_list.index(max(filter(lambda x : x > -1, right_word_list)))
        num_list.append(str(max_ind+1))
    except ValueError:
        pass
    num = int(num_list[0]) * 10 + int(num_list[-1])
    num_sum += num

In [262]:
num_sum

55883