In [1]:
import pandas

In [7]:
data = pandas.read_csv('AoC2.txt',sep = ":", header = None)
data.head()

        0                                                  1
0  Game 1   4 red, 5 blue, 9 green; 7 green, 7 blue, 3 re...
1  Game 2   12 blue, 11 green, 3 red; 6 blue, 5 green, 7 ...
2  Game 3   8 blue, 5 green, 2 red; 5 blue, 5 green, 7 re...
3  Game 4   3 red, 14 blue, 15 green; 1 red, 11 green, 14...
4  Game 5   11 green, 2 red, 10 blue; 16 green, 8 blue; 2...

In [12]:
game_list = data[1].tolist()

Part 1

In [91]:
# for each set, return a list representing numbers of cubes in different color
# num_list = [#red, #green, #blue]
def find_num(set_string):
    num_list = [0, 0, 0]
    set_list = set_string.split(',')
    for item in set_list:
        if 'red' in item:
            num_list[0] = int(item.split(' ')[1])
        elif 'green' in item:
            num_list[1] = int(item.split(' ')[1])
        elif 'blue' in item:
            num_list[2] = int(item.split(' ')[1])
    return num_list

In [92]:
def is_valid(game_set):
    for set_string in game_set:
        num_list = find_num(set_string)
        if (num_list[0]>12 or num_list[1]>13 or num_list[2]>14):
            return False
    return True

In [93]:
test_list = [' 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green',
            ' 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue',
            ' 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red',
            ' 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red',
            ' 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green']

In [94]:
valid_num = 0
for i in range(len(game_list)):
    if is_valid(game_list[i].split(';')):
        valid_num += (i+1)
    else:
        pass
valid_num

2795

Part 2

In [96]:
# for each set, return a list representing numbers of cubes in different color
# num_list = [#red, #green, #blue]
def find_min_num(game_set):
    min_num_list = [0, 0, 0]
    for set_string in game_set.split(';'):
        set_list = set_string.split(',')
        for item in set_list:
            if 'red' in item:
                red_number = int(item.split(' ')[1])
                if red_number > min_num_list[0]:
                    min_num_list[0] = red_number
            elif 'green' in item:
                green_number = int(item.split(' ')[1])
                if green_number > min_num_list[1]:
                    min_num_list[1] = green_number
            elif 'blue' in item:
                blue_number = int(item.split(' ')[1])
                if blue_number > min_num_list[2]:
                    min_num_list[2] = blue_number
    return min_num_list

In [103]:
sum_power = 0
for game_set in game_list:
    min_num_list = find_min_num(game_set)
    power = 1
    for num in min_num_list:
        power *= num
    sum_power += power

In [104]:
sum_power

75561