In [1]:
import pandas

In [64]:
data = pandas.read_csv('AoC7.txt', header = None)
data.head(10)

           0
0   7227Q 52
1  67Q64 732
2  33Q33 573
3  58ATQ 939
4  93K53 840
5  55AJ8 496
6  6ATAT 863
7    26J77 1
8  TTQAT 381
9  2J2J2 322

In [100]:
hands = data[0].tolist()
hand_dict = {}
for hand in hands:
    hand_dict[hand.split()[0]] = [int(hand.split()[1])]
hand_dict[hands[0].split()[0]]

[52]

In [101]:
def max_count(str_list):
    str_set = set(str_list)
    max_num = 0
    for set_letter in str_set:
        num_set_letter = 0
        for letter in str_list:
            if letter == set_letter:
                num_set_letter += 1
        if max_num < num_set_letter:
            max_num = num_set_letter
    return max_num

In [102]:
def calculate_type(string):
    str_list = list(string)
    str_set = set(str_list)
    if len(str_set) == 1:
        return 7
    elif len(str_set) == 2:
        if max_count(str_list) == 4:
            return 6
        else:
            return 5
    elif len(str_set) == 3:
        if max_count(str_list) == 3:
            return 4
        else:
            return 3
    else:
        if max_count(str_list) == 2:
            return 2
        else:
            return 1

In [103]:
def letter2num(letter):
    dictionary = {'2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9, 'T':10, 'J':11, 'Q':12, 'K':13, 'A':14}
    return dictionary[letter]

In [104]:
for hand in hand_dict:
    hand_dict[hand].append(calculate_type(hand))
    for letter in hand:
        hand_dict[hand].append(letter2num(letter))
hand_dict[hands[0].split()[0]]

[52, 3, 7, 2, 2, 7, 12]

In [105]:
value_list=[]
for hand in hand_dict:
    value_list.append(hand_dict[hand])

In [106]:
sorted_value = sorted(value_list, key = lambda x: (x[1], x[2], x[3], x[4], x[5], x[6]))

In [107]:
sum = 0
for i in range(len(sorted_value)):
    sum += sorted_value[i][0]*(i+1)
sum

250058342

Part 2

In [141]:
hands = data[0].tolist()
hand_dict = {}
for hand in hands:
    hand_dict[hand.split()[0]] = [int(hand.split()[1])]
hand_dict[hands[0].split()[0]]

[52]

In [142]:
def transform(string):
    if string == 'JJJJJ':
        return string
    else:
        str_set = set(list(string))
        occur_list = []
        for set_letter in str_set:
            num_set_letter = 0
            for letter in list(string):
                if letter == set_letter:
                    num_set_letter += 1
            occur_list.append([set_letter, num_set_letter])
        sorted_occur_list = sorted(occur_list, key = lambda x: x[1], reverse = True)
        if 'J' == sorted_occur_list[0][0]:
            new_string = string.replace('J', sorted_occur_list[1][0])
        else:
            new_string = string.replace('J', sorted_occur_list[0][0])
        return new_string

In [143]:
transform('KTJJT')

'KTTTT'

In [144]:
def max_count(str_list):
    str_set = set(str_list)
    max_num = 0
    for set_letter in str_set:
        num_set_letter = 0
        for letter in str_list:
            if letter == set_letter:
                num_set_letter += 1
        if max_num < num_set_letter:
            max_num = num_set_letter
    return max_num

In [145]:
def calculate_type(string):
    str_list = list(string)
    str_set = set(str_list)
    if len(str_set) == 1:
        return 7
    elif len(str_set) == 2:
        if max_count(str_list) == 4:
            return 6
        else:
            return 5
    elif len(str_set) == 3:
        if max_count(str_list) == 3:
            return 4
        else:
            return 3
    else:
        if max_count(str_list) == 2:
            return 2
        else:
            return 1

In [146]:
def joker_letter2num(letter):
    dictionary = {'2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9, 'T':10, 'J':1, 'Q':12, 'K':13, 'A':14}
    return dictionary[letter]

In [147]:
for hand in hand_dict:
    if 'J' in hand:
        joker_hand = transform(hand)
        hand_dict[hand].append(calculate_type(joker_hand))
    else:
        hand_dict[hand].append(calculate_type(hand))
    for letter in hand:
        hand_dict[hand].append(joker_letter2num(letter))

In [148]:
hand_dict[hands[7].split()[0]]

[1, 4, 2, 6, 1, 7, 7]

In [149]:
value_list=[]
for hand in hand_dict:
    value_list.append(hand_dict[hand])

In [150]:
sorted_value = sorted(value_list, key = lambda x: (x[1], x[2], x[3], x[4], x[5], x[6]))

In [151]:
sum = 0
for i in range(len(sorted_value)):
    sum += sorted_value[i][0]*(i+1)
sum

250506580